@import "reset.css";
.inner{width: 1012px;margin:0 auto}
.inner:after{content:'';display: block;clear:both}
body{background: #fafafa}
#container{background: #fafafa;padding:10px 0 25px}
#sub #container{padding:30px 0}
h1.logo{float:left;padding-top: 8px}
.u_menu{float: right;padding: 14px 0}
.u_menu a{display: inline-block;box-sizing: border-box;width: 101px;height: 40px;border:1px solid #dcdcdc;border-radius: 3px;line-height: 38px;text-align: center;color:#8c8c8c;font-size: 18px}
.u_menu > span{color:#838383;font-size: 18px;display: inline-block;margin-right: 30px}
.u_menu > span +a{margin-right: 10px}

.main_list{text-align: center;}
.main_list ul{width: 100%;text-align: left}
.main_list ul li{float: left;width: 245px;height: 224px;margin-right:6px;margin-bottom: 10px;}
.main_list ul li a{display: inline-block;position: relative;width: 100%;height: 100%;background-repeat: no-repeat;background-size: auto 100%;text-align: left;box-sizing:border-box;padding:20px 15px}
.main_list ul li a strong{font-family: 'NSB';font-size:26px;color:#000}
.main_list ul li:hover a strong{color: #fff}
.main_list ul li:hover a .text p{color: #fff}
.main_list ul li a .text p{color:#8c8c8c;font-size:14px;}
.main_list ul li a.menu14{background: #8baee3;text-align: center;box-sizing: content-box;padding: 0}
.main_list ul li a.menu14 .text p{color:#fff}
.main_list ul li a.menu14 .text strong{font-size: 26px}
.main_list ul li:hover a.menu14 .text strong{color:#000}
.main_list ul li a.menu01{background-image: url(../images/menu01_off.png)}
.main_list ul li a.menu02{background-image: url(../images/menu02_off.png)}
.main_list ul li a.menu03{background-image: url(../images/menu03_off.png)}
.main_list ul li a.menu04{background-image: url(../images/menu04_off.png)}
.main_list ul li a.menu05{background-image: url(../images/menu05_off.png)}
.main_list ul li a.menu06{background-image: url(../images/menu06_off.png)}
.main_list ul li a.menu07{background-image: url(../images/menu07_off.png)}
.main_list ul li a.menu08{background-image: url(../images/menu08_off.png)}
.main_list ul li a.menu09{background-image: url(../images/menu09_off.png)}
.main_list ul li a.menu10{background-image: url(../images/menu10_off.png)}
.main_list ul li a.menu11{background-image: url(../images/menu11_off.png)}
.main_list ul li a.menu12{background-image: url(../images/menu12_off.png)}
.main_list ul li a.menu13{background-image: url(../images/menu13_off.png)}

.main_list ul li:hover a.menu01{background-image: url(../images/menu01_on.png)}
.main_list ul li:hover a.menu02{background-image: url(../images/menu02_on.png)}
.main_list ul li:hover a.menu03{background-image: url(../images/menu03_on.png)}
.main_list ul li:hover a.menu04{background-image: url(../images/menu04_on.png)}
.main_list ul li:hover a.menu05{background-image: url(../images/menu05_on.png)}
.main_list ul li:hover a.menu06{background-image: url(../images/menu06_on.png)}
.main_list ul li:hover a.menu07{background-image: url(../images/menu07_on.png)}
.main_list ul li:hover a.menu08{background-image: url(../images/menu08_on.png)}
.main_list ul li:hover a.menu09{background-image: url(../images/menu09_on.png)}
.main_list ul li:hover a.menu10{background-image: url(../images/menu10_on.png)}
.main_list ul li:hover a.menu11{background-image: url(../images/menu11_on.png)}
.main_list ul li:hover a.menu12{background-image: url(../images/menu12_on.png)}
.main_list ul li:hover a.menu13{background-image: url(../images/menu13_on.png)}
.visual{box-sizing: border-box;padding-top: 45px;height: 245px;background: url(../images/main_visual.png) no-repeat top center;overflow: hidden;color:#fff;text-align: center}
.visual h2{font-size:36px}
.visual p{font-family: 'NSB';font-size:18px}
.main_btns{width: 350px;margin:53px auto 0}
.main_btns ul li{float: right}
.main_btns ul li:first-child{float: left}
.btn{}
.btn_trans{font-family: 'NSB';font-size:18px;border:3px solid #fff;border-radius:1px;color:#fff;width:136px;height:34px;line-height: 34px;display: inline-block;}
.plus{float:right;display: inline-block;text-indent: -9999px;width:70px;height: 20px;background-position: right center;background-repeat: no-repeat}
.plus01{background-image: url(../images/img_plus01.png)}
.plus02{background-image: url(../images/img_plus02.png)}
.plus03{background-image: url(../images/img_plus03.png)}
#nav{background: #fff;border-bottom:1px solid #d2d2d2}
#nav ul li{float:left}
#nav ul li a{display:inline-block;color:#505050;padding:17px 20px 17px 15px;position: relative}
#nav ul li a:after{content: '';display: block;height: 18px;width: 3px;background: #d2d2d2;position: absolute;right:0;top:18px}
#nav ul li:last-child a::after{display: none}
#nav ul li:first-child a{padding-left: 0}

.detail{float:left;width: 750px}
#aside{float:right;width: 245px}
#aside .co_work{box-sizing: border-box;width: 100%;background: #fff;border:1px solid #d2d2d2;padding:16px 20px 54px}
.co_work .btn{display: block;font-family: 'NSB';border-radius: 3px;height: 40px;line-height: 40px;text-align: center;font-size: 20px}
.co_work .bg_blue{background: #3767b1;color:#fff;margin-bottom: 15px}
.co_work .bg_white{background: #fff;border:2px solid #3767b1;color:#3767b1;}
.co_work .plus{float: none;background-position: 0 0;margin:5px 0 12px}
#aside .qa{width: 100%;background: #ecf9ff;border:1px solid #d2d2d2;border-top: 0;padding:14px 27px;box-sizing: border-box;}
#aside .qa strong{font-family: 'NSB';font-size: 24px;letter-spacing: -1px}

.list dt{}
.list dt.result.member{font-size: 24px;color: #1e2380;font-family: 'NSB';margin-bottom: 13px}
.list dd{box-sizing: border-box;background: #fff;border:1px solid #d2d2d2;padding: 17px 50px;margin-bottom: 25px}
.list dd .classify{float:left;width: 120px;display: flex;height:165px;align-items: center;justify-content: center; flex-wrap: wrap;}
.list dd .classify span:first-child{margin-bottom: 8px}
.list dd .cont{float: left;margin-left:50px}
.list dd .cont h2{float:left;font-size: 26px;font-family: 'NSB';line-height: 1em}
.list dd .cont .title{margin-bottom: 20px}
.list dd .cont .title:after{display: block;content: '';clear: both}
.list dd .cont ul{box-sizing: border-box;width: 725px}
.list dd .cont ul li{float: left;width: 50%;height: 40px;line-height: 40px;font-size: 18px;border-bottom:1px solid #d2d2d2}
.list dd .cont ul li em{display: inline-block;padding-left: 15px;width: 120px}
.list dd .cont ul li .stat{margin-left:0}
.detail h2{font-size:26px;font-family: 'NSB';line-height: 1em;margin-bottom: 13px}
.stat{display: inline-block;width: 120px;height: 35px;line-height: 35px;background: #bfbfbf;color:#fff;font-size: 18px;font-family: 'NSB';border-radius: 1px;text-align: center;margin-left:33px}
.item{display: inline-block;width: 120px;height: 35px;line-height: 35px;background: #004986;color:#fff;font-size: 18px;font-family: 'NSB';border-radius: 1px;text-align: center}
.area{display: inline-block;width: 120px;height: 35px;line-height: 35px;background: #f39800;color:#fff;font-size: 18px;font-family: 'NSB';border-radius: 1px;text-align: center}
.box{box-sizing: border-box;width: 100%;border:1px solid #d2d2d2;padding:20px 23px 20px;background: #fff}
.detail .box ul:after{content: '';display: block;clear: both}
.detail .box .classify{margin-bottom: 20px}
.detail .box ul {border-top: 1px solid #d2d2d2}
.detail .box ul li{float:left;width:50%;border-bottom:1px solid #d2d2d2;height: 42px;line-height: 42px;font-size: 18px}
.detail .box ul li.w100{width: 100%}
.detail .box ul li strong{float:left}
.detail .box ul li span{float:left}
.detail .box ul li em{float:left;padding-left:20px;width: 115px;font-family: 'NSB'}
.detail h3{font-size: 20px;font-family: 'NSB';margin-top: 55px;margin-bottom: 15px}

.tab_menu{margin-top: 16px}
.tab_menu ul{border:1px solid #d2d2d2;}
.tab_menu ul li{float: left;width: 33.3%;box-sizing: border-box;position: relative;border-left:1px solid #d2d2d2;}
.tab_menu ul li.on:after{content: '';position: absolute;width: 100%;height:3px;background: #3767b1;bottom:0;left:0}
.tab_menu ul li:first-child{width: 33.4%}
.tab_menu ul li a{display: block;height: 58px;line-height: 58px;font-size: 24px;text-align: center}
.tab_menu ul li.on a{background: #fff;color:#1d3a66;font-family: 'NSB'}
.t_list strong{display: inline-block;width:160px;padding-left:20px;font-family: 'NSB'}
.t_list span.num{text-align: right;display: inline-block;width: 105px;margin-right: 10px}
.button a{background: #648ed0;color:#fff;display: block;height:80px;line-height: 80px;text-align: center;font-family: "NSB";font-size: 24px}
#footer .c_menu{height:48px;border-top:1px solid #c9c9c9;border-bottom:1px solid #c9c9c9}
.c_menu ul li{float:left;margin-right: 45px}
.c_menu ul li a{display: inline-block;height: 48px;line-height: 48px}
.f_logo{float: left}
.addr{float:left;margin-left: 33px}
.addr p{font-size: 14px}
.addr p strong{font-size:18px;font-family: 'NSB'}
.addr p.cs{margin:20px 0}
.addr p.cs  {font-size: 24px;font-family: 'NSB';color:rgb(55,103,177);-webkit-text-fill-color: rgba(55, 103, 177, 1); }
.addr p.cs strong{color:#000;font-family: 'NSB';font-size: 24px;-webkit-text-fill-color: rgba(0, 0, 0, 1); }
.addr p.cs em{font-size: 18px;font-family: 'NSL';color:#000;-webkit-text-fill-color: rgba(0, 0, 0, 1); }
address{padding:20px 0 120px}
.list dt.result{font-size: 16px;color:#646464;margin-bottom: 13px}
.list dt.result em{font-family: 'NSB'}
.list dt.result strong{font-family: 'NSB';color:#fe0303}
.banner{margin-top: 12px;width: 100%;background: #3767b1;font-size: 12px;box-sizing: border-box;text-align: center;}
.banner p{font-family: 'NSB';color:#fff;line-height: 1.3em}
.banner a{display: block;padding-top: 1px}
.banner .b1{margin-top: 10px}
.banner .b2{font-size: 24px}
.banner .b3{font-size: 14px;color:#000}

.form{width:786px;margin:0 auto;padding-top: 33px}
.form h2{font-family:'NSB';text-align:center;color:#1e2380;font-size:36px}
.form h2+p{font-size:18px;color:#8c8c8c;text-align:center;margin-bottom:75px}
.form .inp_txt{float:left;border:1px solid #d2d2d2;border-radius:3px;padding-left: 15px;font-size: 20px;height:54px;}
.form.login .inp_txt.wd100{width:100%;font-size:20px;color:#8c8c8c;padding-left:13px;line-height:54px;height:54px;margin-bottom:32px;font-family:'NSB';box-sizing:border-box}
.form.login .wh_box{box-sizing:border-box;background:#fff;border:1px solid #d2d2d2;padding:55px 142px 97px}
.form .tab_wrap{width:786px;margin:0 auto}
.form .tab_wrap .tab_menu{margin-bottom:54px}
.form .tab_wrap .tab_menu ul{width:600px;margin:0 auto}
.form .tab_wrap .tab_menu ul li{width:50%}
.form .wh_box{box-sizing:border-box;background:#fff;border:1px solid #d2d2d2;padding:55px 80px 97px 69px}
.form .wh_box label{font-size:20px;font-family:'NSB'}
.form .tab_cont .wh_box label{display:inline-block;width:135px;height:55px;line-height:55px}
.form .tab_cont .wh_box label.wauto{width:auto}
.form .tab_cont .inp_txt.wd100{float:left;height:53px;width: calc(100% - 152px)}
.form .tab_cont .sel{float:left;height:53px;border:1px solid #d2d2d2;border-radius:3px}
.form .tab_cont .inp_txt.wd30{float:left;height:53px;width: 130px}
.form .tab_cont .inp_txt.wd50{float:left;height:53px;width: 210px}
.form .tab_cont p{margin-bottom:32px}
.form .tab_cont p:after{content:'';display:block;clear:both}
.form .tab_cont p label{float:left}
.form .tab_cont p .dash{float:left;display:inline-block;width:29px;text-align:center;height:55px;line-height:55px;color:#d2d2d2}
.form .tab_cont p .at{float:left;display:inline-block;width:45px;text-align:center;height:55px;line-height:55px;color:#d2d2d2}
.form .l_button{width:100%;color:#fff;font-size:24px;font-family:'NSB';text-align:center;height:54px;line-height:54px;border-radius:4px}
.form .l_button.bt_login{background:#3767b1}
.form .l_button.bt_join{background:#1e2380}
.form p.p_warn{margin:50px 0 5px}
input[id="id_save"] + label{display:inline-block;}
input[id="id_save"] + label:before {content:'';display: inline-block;width: 30px;height: 30px;background-color: #fff;border: 1px solid #d2d2d2;cursor: pointer;}
input[id="id_save"]:checked + label:before {background-image: url(../images/bg_chk.png);background-repeat: no-repeat;background-position: center center}
.form.login .wh_box span{height: 30px;display: inline-block;line-height: 30px;vertical-align: top}
input[id="id_save"],input[id="agree"] {display: none;}
label.wauto:after {content:'';display: inline-block;width: 30px;height: 30px;background-color: #fff;border: 1px solid #d2d2d2;cursor: pointer;margin-left: 23px}
.form .tab_cont label.wauto{height: 30px;line-height: 30px}
label.wauto span{display: inline-block;vertical-align: top;height:30px;line-height: 30px}
label.wauto.on:after {background-image: url(../images/bg_chk.png);background-repeat: no-repeat;background-position: center center}
.styled-select {display: inline-block;background: url(../images/select_arrow.png) no-repeat 96% center;height: 54px;overflow: hidden;width: calc(100% - 135px);line-height: 54px;border-radius: 3px}
.styled-select select {background: transparent;border: none;font-size: 20px;height: 29px;padding: 5px 0 0 15px;width: 100%;}
.styled-select.wd50 {width: calc(50% - 90px)}
.form .inp_txt.email{width: calc(50% - 107px)}
.tab_cont .view{float:right}
.tab_cont .view a{font-family: 'NSB';font-size: 14px;text-decoration: underline;line-height: 30px;display:inline-block;}
.tab_cont .view a:first-child{margin-right:5px}
@media (max-width:1012px){
  .inner{width: 100%}
  .main_list ul{text-align: center}
  .list dd{padding:20px 10px}
  .list dd .classify, .list .cont{width: 100%}
  .list dd .cont{margin-left:0}
  .list dd .cont ul{width: 100%}
  .list dd .classify{height: auto;margin-bottom: 20px}
  .detail{width: 100%}
  .addr{margin-left: 0;margin-top: 20px}
  address{padding-bottom: 30px}
  .inner{padding-left: 10px;padding-right: 10px;box-sizing: border-box;}
  #aside{margin-top: 20px;width: 100%}
  #nav{overflow-x: scroll;}
  #nav ul{width: 1012px}
  .list dd .classify{justify-content: left }
  .styled-select.wd50 {width: calc(50% - 70px)}
  .form .inp_txt.email{width: calc(50% - 127px)}
}
@media (max-width:980px){
  .main_list ul{display:flex;align-items:center;flex-wrap: wrap;  justify-content:center;}

}
@media (max-width:840px){
  .form .wh_box{padding:55px 20px}
  .form .tab_cont .inp_txt.wd100{width: calc(100% - 112px)}
  .form .tab_cont .inp_txt.wd30{width: calc(30% - 16px);}
  .styled-select {width: calc(100% - 95px)}


}

@media (max-width:800px){
  .form .tab_cont .inp_txt.wd30{width: calc(30% - 20px);}
.tab_cont .view{float:right;width: 100%;text-align: right;margin-top:10px}
}

@media (max-width:786px){
  .form{width:100%}
  .form .tab_wrap{width:100%}
  .form .tab_wrap .tab_menu ul{width:100%}
  .form .tab_cont .wh_box label{width:95px}
  span.block{display: block;width: calc(100% - 95px);float:right}
    .form .inp_txt.email{width: calc(50% - 90px)}
}

@media (max-width:660px){
  .form .tab_cont .inp_txt.wd30{width: calc(30% - 21px);}
}

@media (max-width:640px){
  .detail .box ul li{width: 100%;height: auto}
  .detail .box ul li:fisr-child span{width: 55%}
  .c_menu, address{padding-left: 10px;padding-right: 10px}
  .detail h2{line-height: 1.3em}
  .t_list strong{width: 90px;margin-right: 10px;padding-left: 0}
  .t_list strong.wd100{width: 110px}
  .t_list span.num{width: auto}
  span.block{display: block;width: 100%;float:right}

  .form .tab_wrap .tab_menu ul li a{font-size: 16px}
}

@media (max-width:580px){
.list dd .cont ul li{width: 100%}
.detail .box ul li:fisr-child span{width: 50%}
#footer .c_menu{height: auto}
.form.login .wh_box{padding-left:20px;padding-right: 20px}
  span.block{display: block;width: calc(100% - 10px);float:right}
  .form .tab_cont p .dash{width: 15px}
}
@media (max-width:480px){
.main_btns{width: 90%}
.visual h2{font-size: 24px}
.visual p{font-size:16px}
.u_menu a{width: 70px;font-size: 16px}
.u_menu > span{margin-right: 10px}
.detail .box ul li span{width: 60%;box-sizing: border-box;}
.detail .box ul li em{width: 35%;box-sizing: border-box;}
.detail .box ul.t_list li span{width: auto;}
.styled-select.wd50 {width: 40%}
.form .inp_txt.email{width: 45%}
.form .styled-select.wd50{float:left;width: 100%;margin-top: 15px}
label.wauto:after{margin-left:0}
}
@media (max-width:375px){

  .detail .box ul li:fisr-child span{width: 50%}
  .visual h2{letter-spacing: -1px}
  .btn_trans{width: 120px;font-size: 14px}
}
